body {
    background-color: #fefefe;
}

#map-wrapper {
    width: 100%;
    color: rgba(0,0,0,0.8);
}

@media (min-width:800px){
    #searchRoute {
        background-color: #2c2c2c;
        text-align: center;
        padding: 0.5em;
        margin: 1em;
        margin-bottom: 0em;
    }

    #map-canvas {
        margin: 1em;
        margin-right: 0em;
        width: 60%;
        height: 30em;
        display: inline;
        float: left;
        border: solid 2px #2c2c2c;
    }

    #messages {
        background: #E93C4F;
        color: #fefefe;
        font-family: "Open Sans";
        font-size: 1em;
        width: 30%;
        margin: 1em;
        padding: 1em;
        text-align: center;
        display: inline;
        float: left;
    }
}

@media (max-width:799px){
     #searchRoute {
        background-color: #2c2c2c;
        text-align: center;
        margin: 1em;
        padding: 0.5em;
        top: 1em;
    }

    #map-canvas {
        left: 5%;
        width: 90%;
        height: 20em;
        margin-bottom: 1em;
        border: solid 2px #2c2c2c;
    }

    #messages {
        background: #E93C4F;
        color: #fefefe;
        font-family: "Open Sans";
        font-size: 1em;
        margin-left: 5%;
        margin-bottom: 2em;
        width: 85%;
        padding: 1em;
        padding-top: 0.5em;
    }
}

span .messageHeader {
    color: #fefefe;
}

#messages p {
    background:rgba(0,0,0,0.5);
    padding: 0.3em;
}

input[type=text]
{
    background-color: #f2f2f2;
    color: #2c2c2c;
    height: 2.2em;
    padding-left:10px;
    width: 30%;
    border: none;
}

input[type=submit]
{
    background-color: #027073;
    color: #fefefe;
    height: 2.5em;
    font-family: "Open Sans";
    font-weight: 700;
    width: 20%;
    border: none;
    margin-left: 0.5em;
    text-transform:uppercase;
}
input[type=submit]:hover
{
    background-color: #028B8F;
}

input:focus {
    outline: none;
}
