html body {
    padding 0;
    margin: 0;
}

body {
    background-color: #fefefe;
}

@media (min-width:800px){
    #searchRoute {
        background-color: #2c2c2c;
        text-align: center;
        padding: 0.5em;
        margin: 1em;
        margin-bottom: 0em;
    }

    #messages {
        background: rgba(0,0,0,0.8);
        color: #fefefe;
        font-family: "Open Sans";
        font-size: 1em;
        width: 30%;
        margin: 1em;
        padding: 1em;
        text-align: center;
       	position: fixed;
    	bottom: 0;
    	right: 0;
	 }
}

@media (max-width:799px){
     #searchRoute {
        background-color: #2c2c2c;
        text-align: center;
        margin: 1em;
        padding: 0.5em;
        top: 1em;
    }

    #messages {
        background: rgba(0,0,0,0.8);
        color: #fefefe;
        font-family: "Open Sans";
        font-size: 1em;
        margin-bottom: 2em;
        width: 85%;
        padding: 1em;
        padding-top: 0.5em;
        text-align: center;
        position: fixed;
        bottom: 0;
        right: 1em;
    }
}

#map-canvas {
        margin: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;   
        z-index: -1; 
    }

span .messageHeader {
    color: #fefefe !important;
}

#messages{
     cursor: pointer;
     overflow-y: scroll;
}

#messages p {
    background:rgba(233, 60, 79,0.8);
    padding: 0.3em;
    color: #fefefe;
}

input[type=text]
{
    background-color: #f2f2f2;
    color: #2c2c2c;
    height: 2.2em;
    padding-left:10px;
    width: 30%;
    border: none;
}

input[type=submit]
{
    background-color: #027073;
    color: #fefefe;
    height: 2.5em;
    font-family: "Open Sans";
    font-weight: 700;
    width: 20%;
    border: none;
    margin-left: 0.5em;
    text-transform:uppercase;
}
input[type=submit]:hover
{
    background-color: #028B8F;
}

input:focus {
    outline: none;
}
