html body {
    padding: 0;
    margin: 0;
}

body {font-family: 'Open Sans', sans-serif; font-size: 16px/.75em; }

.hidden {position: absolute; top: -9999px; left: -9999px;}

.intro, .draggable, .iframe-search {background: rgba(255, 255, 255, 0.8); color: #111; float: left; margin: 5% 0 0 10%; z-index: 1000; position: absolute; cursor: pointer;}

.intro, .draggable {padding: 1em 1em 0 1em; width: 35%; }

.iframe-search {width: 74%; padding: 0.3em .5em 0 .5em;}

h1 {font-family: 'Open Sans', sans-serif; font-size: 1em;}

.intro p {font-size: .90em; line-height: 165%;}

.intro a {color: #027073;}

.searchRoute {border-radius: 0 0 5px 5px;  max-width: 500px; }

.searchRoute input {margin: 5px;}

#messages {background: rgba(255, 255, 255, 0.8); color: #111; width: 30%; margin: 1em; padding: 1em; text-align: center; position: fixed; bottom: 0; right: 0; }

input[type=text] {background-color: #f2f2f2; color: #2c2c2c; height: 2.2em; padding: 5px; width: 100%; max-width: 300px; border: 1px solid #888; margin: 0.5em 0; }

input[type=submit] {background-color: #027073; color: #fefefe; height: 3.2em; font-weight: 700; width: 100%; max-width: 225px; border: none; margin: 0.5em 0 1em 0; padding: 5px; text-transform: uppercase; cursor: pointer;}

input[type=submit]:hover {background-color: #66cccc; text-decoration: underline; }

#map-canvas {margin: 0; width: 100%; height: 100%; position: absolute; top: 0; bottom: 0; z-index: -1; clear: both; }

#messages{cursor: pointer; overflow-y: scroll; }

#messages p {background:rgba(233, 60, 79,0.8); padding: 0.3em; color: #fefefe; }

@media screen and (max-width:600px){

    .intro {width: 90%; float: none; margin:0; position: relative; cursor: auto;}

    input[type=text] {width: 33%;}

    input[type=submit] {width: 20%;}

    #map-canvas {position: relative; height: 600px;}

    .searchRoute {width: 100%; margin: 0; padding: 0;}

    .searchRoute input {display: inline; /*width: 150px;*/}

    #messages {width: 85%;}
}

@media screen and (max-width: 535px) {#map-canvas{top: 4%;}}

@media screen and (max-width: 400px){
    #map-canvas {top: 41%;}
}



